- var n = 0;
.article-vertical-list.article-vertical-list--popular
	a(href="#").article-vertical-list__title Popular
	ul
		while n++ < 5
			li
				.article-vertical-list__desc
					span August 26, 2013
					.article-vertical-list__comments
						.article-vertical-list__comments-icon 
						span 5
					p Palestinians call off peace talks after clash
				.article-vertical-list__img-wrapper
					img(src="images/popular.jpg" alt="popular image")