.social
	h2.social__title Social
	.social__content
		.social__facebook-icon
		.social__content-desc
			span Like
		.social__content-stats
			span 25041 Fans
	.social__content
		.social__twitter-icon
		.social__content-desc
			span Follow
		.social__content-stats
			span 25041 Followers
	.social__content
		.social__youtube-icon
		.social__content-desc
			span Subscribe
		.social__content-stats
			span 941 Subscribers