.kenaz-social
	.kenaz-social__arrow
	h1 Kenaz
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus leo ante.
	.kenaz-social__rss
	.kenaz-social__facebook
	.kenaz-social__twitter
	.kenaz-social__dribbble
	.kenaz-social__linkedin
	.kenaz-social__youtube
	.kenaz-social__skype