.article-vertical-list.article-vertical-list--featured
	h1.article-vertical-list__title Random posts
	ul
		- for(var x = 0; x < 3; x++)
			li
				.article-vertical-list__desc
					span August 26, 2013
					.article-vertical-list__comments
						.article-vertical-list__comments-icon 
						span 5
					p Palestinians call off peace talks after clash
				.article-vertical-list__img-wrapper
					img(src="images/footer-article.jpg" alt="Article")