- var tags = ['javascript', 'babel', 'gulp', 'css', 'sass', 'susy','bourbon','angular','react','nodejs','photoshop','illustrator'];

.tags-widget
	h1 Tags Widget
	each val, index in tags
		span.tags-widget__tag= val