.article-container.article-container--business
	.article-container__header
		h1 Business
		a(href="#") See all
	.article-container__articles
		include articles/business.jade
		include articles/business.jade
		include articles/business.jade
		include articles/business.jade
