.article-container.article-container--half.article-container--editorials
	.article-container__header
		h1 Editorials
		.article-container__next-arrow.editorials-next
		.article-container__prev-arrow.editorials-prev
	.article-container__articles.editorials-carousel
		include articles/editorials.jade
		include articles/editorials.jade
		include articles/editorials.jade
		include articles/editorials.jade
