.header
	.header__carousel
		.header__slide.header__slide--first
			.header__shadow
			.header__caption
				.header__info
					span August 26, 2013
					.header__comments-icon
					span 22 Comments
				h1 'Margot' breathlessly reimagines Anne Frank's Sister
				a(href="#") Read article
		.header__slide.header__slide--second
			.header__shadow
			.header__caption
				.header__info
					span August 26, 2016
					.header__comments-icon
					span 22 Comments
				h1 EU talks focus on Greece migrant crisis
				a(href="#") Read article
		.header__slide.header__slide--third
			.header__shadow
			.header__caption
				.header__info
					span January 03, 2015
					.header__comments-icon
					span 13 Comments
				h1 Emirates A380 from Dubai to NZ makes longest non-stop flight
				a(href="#") Read article