.article-container.article-container--half
	.article-container__header
		h1 Local News
		.article-container__next-arrow.local-news-next
		.article-container__prev-arrow.localt-news-prev
	.article-container__articles.local-news-carousel
		include articles/local-news.jade
		include articles/local-news.jade
		include articles/local-news.jade
		include articles/local-news.jade
