.article-container.article-container--news
	.article-container__header
		h1 News
		a(href="#") See all
	.article-container__articles
		include articles/news.jade
		include articles/news.jade
		include articles/news.jade