.article-container.article-container--news-carousel
	.article-container__header
		h1 News Carousel
		.article-container__next-arrow.news-carousel-next
		.article-container__prev-arrow.news-carousel-prev
	.article-container__articles.news-carousel
		include articles/news-carousel.jade
		include articles/news-carousel.jade
		include articles/news-carousel.jade
