.article-container.article-container--sport
	.article-container__header
		h1 Sport
		a(href="#") See all
	.article-container__articles
		include articles/sport.jade
		include articles/sport.jade
		include articles/sport.jade