.sub-nav 
	.sub-nav__wrapper
		.sub-nav__arrow-icon
		h1.sub-nav__logo Kenaz
		.sub-nav__navigation
			ul
				li
					a(href="#") Media
				li
					a(href="#") Marketing
				li
					a(href="#") Contact
				li
					.sub-nav__magnifier-icon

