.article.article--news
	img(src='images/article.jpg', alt='article image')
	.article__desc
		span August 26, 2013
		.article__comments
			.article__comments-icon 
			span 15
		p For Obama MLK shadows loorns large ahead of speech