.banner {
	background-color: darken(white, 5%);
	display: table;
	
	width: 100%;
	margin: 15px 0 15px 0;
	
	text-align: center;
	outline: 1px solid darken(white, 15%);

	span {
		display: table-cell;
 		vertical-align: middle;
		
		font-family: Varela;
		font-size: 16px;
		color: lighten($grey, 40%);
	}

	&--940x120, &--620x120 {
		height: 119px;
	}

	&--125x125 {
		display: inline-block;

		width: 125px;
		height: 125px;

		border: none;

		&:first-of-type { margin-right: 7px; }

		span {
			display: inline;
			line-height: 125px;
		}
	}
}