doctype html
html
	head
		title Kenaz
		meta(charset="UTF-8")
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='slicknav/dist/slicknav.css', rel='stylesheet')
		link(href='slick-carousel/slick/slick.css', rel='stylesheet')
		link(href='slick-carousel/slick/slick-theme.css', rel='stylesheet')
		link(href='main.css', rel='stylesheet')
	body
		include body.jade
		script(src='https://www.youtube.com/iframe_api')
		script(src='jquery/dist/jquery.min.js')
		script(src='slick-carousel/slick/slick.min.js')
		script(src='slicknav/dist/jquery.slicknav.min.js')
		script(src='requireJS.js', data-main="main")
